@import 'variables';
@import 'fonts';

html, body {
  font-family: $folf-font-family;
  font-size: $folf-font-size-normal;
  background: $folf-background;
  margin: 0;
}

.folf-card{
  min-width: 400px;
  margin-top: 64px;
  max-height: 580px;
  max-width: 512px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 2px;
  background: #ffffff;
  padding: 20px 16px;
  box-sizing: border-box;
}

.folf-header{
  color: $folf-font-color-header;
  font-size: $folf-font-size-large !important;
  font-weight: lighter;
  margin-bottom: 12px;
}

.folf-icon{
  width: 35px;
  height: 35px;
  color: #808080;
  margin-right: 6px;
}

.space-medium{
  margin-top: 24px;
}

.folf-main-item-container{
  min-width: 120px;
  margin: 10px;
  background: white;
}

.folf-icons-medium{
  width: 80px;
  height: 80px;
}

.folf-icons-big{
  width: 100px;
  height: 100px;
}

.folf-icons-huge{
  width: 150px;
  height: 150px;
}

.folf-action-button-bottom{
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.folf-divider-line{
  border-top:1px solid #d3d3d3;
}

.folf-container-panel{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  background: white;
}

.folf-container{
  padding: 16px;
}

