//colors
$folf-main-color: #3F51B5;
$folf-accent-color: #FF4081;
$folf-background: #eee;
$folf-font-color-base: #000;
$folf-font-color-header:   #00BCD4;


//fonts
$folf-font-family: "Roboto", sans-serif;
$folf-font-size-small: 14px;
$folf-font-size-normal: 16px;
$folf-font-size-large: 20px;

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url('../fonts/Roboto.ttf');
}